<main>
    <h2>Here are all your Favorites!</h1>
    <article>
        <%@favorites.all.each do |favorite|%>
            <section>
                <p><a href="/stores/<%=favorite.store.id%>"><%= favorite.store.name %></a></p>
                <form action="/favorites" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="favorite_id" value="<%=favorite.id%>">
                    <input id="submit" type="submit" value="delete">                
                </form>
            </section>
            <% end %>
    </article>
</main>