<header>
    <h2>FL</h2>
</header>

<main>
    <article>
        <ol>
            <% Store.all.each do |store| %>
                <li><a href="/stores/<%=store.id%>"><%= store.name %></a></li>
            <% end %>
        </ol>
    </article>
</main>