<aside>
    <h2><a href="/stores/new">Create A Store </a></h2>
    <h2><a href="/stores/search">Search Stores</a></h2>
    <h2><a href="/stores/:id/index/">Stores Index</a></h2>
</aside>
<main>
    <article>
        <h2>Most Popular Stores</h2>
        <section>
            <% popular_stores.each do |store_name, favorites_count|%>
                <h3><%= store_name %></h3>
                <p>Number of user favorites: <%= favorites_count %></p>
            <% end %>
        </section>
    </article>

    <article>
        <h2>Most Reviewed Stores</h2>
        <section>
            <% most_reviewed_stores.each do |store_name, reviews_count|%>
                <h3><%= store_name %></h3>
                <p>Number of user favorites: <%= reviews_count %></p>
            <% end %>
        </section>
    </article>
</main>