<header>
    <h2>Here are all your Stores!</h1>
</header>

<main>
    <article>
        <%@my_stores.all.each do |userstore|%>
            <section>
                <p><a href="/my-stores/<%=userstore.id%>"><%= userstore.store.name %></a></p>
                <form action="/my-stores/<%=userstore.id%>" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <input id="submit" type="submit" value="delete">                
                </form>
            </section>
            <% end %>
    </article>
</main>