<head>
<title>My Favorited Stores</title>
<link rel="stylesheet" href="stylesheets/stores/my_stores.css" type="text/css">
</head>

<body>

<h1 id="pagebanner">Here are all your Stores!</h1>

    <h1 id="store-link"><%@my_stores.all.each.with_index(1) do |userstore, index|%>
        <a href="/my-stores/<%=userstore.id%>"><%=index%>. <%= userstore.store.name %></a>
        <form action="/my-stores/<%=userstore.id%>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input id="submit" type="submit" value="delete">
        </form>
    <br>
    <br>
        <% end %>
    </h1>

</body>