<DOCTYPE! html>
<html>
<head>
<title>My Favorited Stores</title>
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/loggedin_banner.css" type="text/css">
<link rel="stylesheet" href="stylesheets/stores/my_stores.css" type="text/css">
</head>

<body>
<h1 id="pagebanner">Here are all your Stores!</h1>
<div class="container"></div>
<h1 id="intro"><a href="/home">Hole in the Wall</a>
<h3 id="allstores"><a href="/stores">Stores</a></h3>
<h3 class="allusers"><a href="/users">Users</a></h3>

<div class="dropdown">
    <button class="dropbtn">Profile</button>
    <div class="dropdown-content">
        <a href="/account">Account</a>
        <a href="/my-reviews">My Reviews</a>
        <a href="/my-stores">My Stores</a>
        <a href="/logout">Log out</a>
    </div>
</div>

    <h1 id="store-link"><%my_stores.each.with_index(1) do |store, index|%>
        <a href="/stores/<%=store.id%>"><%=index%>. <%= store.name %><br></a>
    <br>
    <br>
        <% end %>
    </h1>

</body>
</html>