<header>
    <h2>Here are all your Stores!</h1>
</header>

<main>
    <article>
        <ol>
            <%@my_stores.all.each do |userstore|%>
                <li>
                    <a href="/my-stores/<%=userstore.id%>"><%= userstore.store.name %></a>
                    <form action="/my-stores/<%=userstore.id%>" method="POST">
                        <input type="hidden" name="_method" value="delete">
                        <input id="submit" type="submit" value="delete">                
                    </form>
                </li>
            <% end %>
        </ol>
    </article>
</main>