<main>
    <article>
        <form action='/stores' method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="address" placeholder="Address">
            <input type="text" name="url" placeholder="URL">
            <textarea type="text" name="description" placeholder="Description" />
            <input type="text" name="image" placeholder="Image Link">
            <input type="submit" value="Submit">
        </form>
    </article>
</main>