<head>
<title>New Store</title>
<link rel="stylesheet" href="/stylesheets/loggedin_banner.css" type="text/css">
</head>

<body>

<div>
    <form action='/stores' method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="address" placeholder="Address">
        <input type="text" name="url" placeholder="URL">
        <textarea type="text" name="description" placeholder="Description" />
        <input type="text" name="image" placeholder="Image Link">
        <input type="submit" value="Submit">
    </form>
</div>

</body>