<main>
    <section>
        <form action="/stores/results" method="GET">
            <select>
            </select>
            <div>
                <label for="search-input">Search Stores:</label>
                <input id="search-input" type="text" name="name" autocomplete="on">
            </div>

            <div>
                <input id="search-submit" type="submit" autocomplete="on">
            </div>
        </form>
    <section>
</main>