<DOCTYPE! html>
<html>

<head>
<title>Stores</title>
</head>

<body>
<% Store.all.each.with_index(1) do |store, index| %>
    <a href="/stores/<%=store.id%>"><%=index%>. <%= store.name %><br></a>
    <% end %>
</body>

</html>