<DOCTYPE! html>
<html>

<head>
<title>Stores</title>
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/stores/all_stores.css">
<div class="container"></div>
<h1 id="intro">Hole in the Wall
</h1>
</head>

<h1 id="state">FL</h1>

<body>
<% Store.all.each.with_index(1) do |store, index| %>
    <a href="/stores/<%=store.id%>"><%=index%>. <%= store.name %><br></a>
    <% end %>
</body>

</html>