html {
    font-family: 'Vollkorn', serif;
    color: rgb(54, 54, 54);
    background-color: rgb(245, 245, 245);
}

div.container {
    position: fixed;
    float: left;
    width: 1440;
    height: 60px;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
}


h1#intro {
    position: absolute;
    font-size: 27;
    top: -5.8px;
    left: 90px;
    color: rgb(248, 248, 248);
}

h1#state {
    position: relative;
    font-size: 27;
    top: 60px;
    left: 30px;
    color: rgb(54, 54, 54);
}

h1#store-iterator a{
    position: relative;
    font-size: 27;
    top: 50px;
    left: 30px;
    color: rgb(54, 54, 54);
}

div button.dropbtn { 
    background-color: rgb(34, 34, 34); /* The background color of the profile button */
    font-family: 'Vollkorn', serif;
    color: white; /* The text color of the profile button */
    padding: 3px 3px;
    font-size: 27px;
    border: none;
    cursor: pointer;
}


div.dropdown { /* Where the button will be located in the page */
    position: absolute;
    float: right;
    top: 10;
    right: 90;
    display: block;
}

div.dropdown-content { /* Where the dropdown will place */
    display: none;
    position: absolute;
    top: 40;
    right: -35;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: black;
    border-radius: 4px;
}

div.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

div.dropdown-content a:hover { /* Background color of each dropdown link */
    background-color: #f1f1f1
}

div.dropdown:hover .dropdown-content { /* When your mouse hovers over the button, it displays the block */
    display: block;
}

div.dropdown:hover .dropbtn {
    background-color: #161616;
    border: black;
    border-radius: 4px;
    transition-duration: 0.4s;
}
