h1#state {
    position: relative;
    font-size: 27;
    top: 60;
    text-align: center;
    color: rgb(54, 54, 54);
}

div#store-iterator{
    overflow-x: auto;
    text-align: center;
    width: 1000px;
    height: 340px;
    margin: 65px auto 65px auto;
    border: solid 2px black;
    border-radius: 4px;
    background-color: white;
}

div#store-iterator h1{
    font-size: 40;
    margin: 40px auto 100px auto;
    color: rgb(54, 54, 54);
    text-decoration: none;
}

div#store-iterator h1 a{
    color: rgb(54, 54, 54);
    text-decoration: none;
}

div#store-iterator a:hover{
    color: rgb(255, 123, 123);
    transition-duration: 0.4s;
}
