#store-form{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 1% auto;
}

#edit-store{
    text-align: center;
}

#form-container{
    width: 85%;
    height: 100%;
    margin: 1% auto;
}

.store-edit-inputs{
    display: flex;
    flex-direction: column;
}

.store-edit-inputs{
    flex: 0 1 10%;
    width: 100%;
    height: 100%;
}

label{
    text-align: center;
}

input, select{
    font-size: 16px;
    padding: 1%;
    margin: 1%;
}

textarea{
    font-size: 16px;
    margin: 1%;
    resize: none;
    width: 98%;
    height: 150px;
    padding: 1%;
}