html {
    font-family: 'Vollkorn', serif;
    color: rgb(54, 54, 54);
    background-color: rgb(245, 245, 245);
}


div.container {
    position: fixed;
    float: left;
    width: 1440;
    height: 60px;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
}

h1#intro a{
    position: fixed;
    font-size: 27;
    top: 13px;
    left: 90px;
    color: rgb(248, 248, 248);
    text-decoration: none;
}

h1#intro a:hover{
    color: rgb(255, 107, 107);
    transition-duration: 0.4s;
}

