main {
    display: flex;
    height: 628px;
    width: 100%;
    margin: 1% auto;
}

#search-create{
    flex: 1 1 60%;
    height: 100%;
    border-radius: 1px;
    margin: 0% 1% 1% 2%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 3px #EBEBEB;
    border: 1px solid #C2C2C2;
}

#search-create-headings{
    text-align: center;
    background-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#search-options{
    width: 100%;
    border-top: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
    border-left: 0;
    border-right: 0;
}

#align-options{
    width: 100%;
    height: 80%;
}

#aggregated{
    flex: 1 1 40%;
    height: 100%;
    border-radius: 2px;
    overflow: scroll;
    margin: 0% 2% 1% 1%;
    text-align: center;
    box-shadow: 1px 1px 3px #EBEBEB;
    border: 1px solid #C2C2C2;
}

.store{
    border-radius: 2px;
    background-color: white;
}

.header-color{
    border-radius: 2px;
    overflow: hidden;
    border: solid black 2px;
    box-shadow: 1px 2px 5px #888888;
}
@media screen and (min-width: 546px){ /* Desktop: When the screen is wider than 321px */
/*-----------------Main-------------------------*/

div[id^="store-container-"]{
    border-radius: 1px;
    overflow: hidden;
    border-bottom: 1px solid #C2C2C2;
}
/*-----------------Main-End-------------------------*/

/*-----------------Search-------------------------*/

.search-flex{
    width: 100%;
    height: 100%;
    background-color: white;
    border-left: 0;
    border-right: 0;
    border-radius: 2px;
}

/* When the layout is thinner than 1015 px, change 
the flex layout
*/

#form-container{
    height: 100%;
    width: 100%;
    font-size: 20px;
}

#search-form{
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 3px grey;
}

.flex{
    flex: 0 1 30%;
    width: 75%;
    margin: 1px auto;
}

.inside-flex{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
}

.flex-submit{
    padding-top: 30px;
    padding-bottom: 30px;
}

.el-inside-flex{
    text-align: center;
    flex: 0 1 48%;
    font-size: 20px;
}

#search-submit{
    width: 30%;
    margin: 0 auto;
}

#search-form-state-select, #search-input{
    width: 80%;
    margin: 0 auto;
}

#search-submit, #search-form-state-select{
    cursor: pointer;
}

#search-form-state-select, #search-input, #search-submit{
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding: 10px;
    color: black;
    text-shadow: 0 0 black;
}

#search-form-state-select:hover, #search-input:hover, #search-submit:hover{
    background-color: rgb(255, 228, 217);
    transition-duration: 0.4s;
}
/*-----------------Search-End------------------------*/

}

@media screen and (max-width: 545px){ /* Mobile: When the screen is thinner than 321px */ 

    main{
        flex-direction: column;
    }

    #form-container{
        text-align: center;
    }
}