h1#pagebanner{
    margin: 82px 334px auto 81px;
}

input{
    cursor: pointer;
}

.my-stores{
    overflow-x: auto;
    text-align: center;
    width: 800px;
    height: 500px;
    margin: 40px auto 0px auto;
    border: solid 2px black;
    border-radius: 4px;
    background-color: white;
}

.my-stores a{
    font-size: 40;
    color: rgb(54, 54, 54);
    text-decoration: none;
}

.my-stores a:hover{
    color: rgb(255, 107, 107);
    transition-duration: 0.4s;
}

form input#submit{
    position: relative;
    font-size: 18;
    padding: 15px;
    border: solid 2px black;
    border-radius: 4px;
    background-color: white;
}

form input#submit:hover{
    background-color: rgb(255, 208, 208);
    transition-duration: 0.4s;
}