#store-article{
    display: flex;
    margin: 0 auto;
}

#store-info-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1% 2% 1% 2%;
    flex: 1 1 40%;
    box-shadow: 1px 1px 5px #888888;
}

#store-description{
    background-color: white;
    height: 100%;
}

#description-adjust{
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

#store-reviews{
    display: flex;
    flex-direction: column;
    flex: 1 1 54%;
    text-align: center;
    border-radius: 2px;
}

#favorite-button{
    margin-bottom: 2%;
}

#store-reviews-container{
    overflow: scroll;
    background-color: white;
    height: 50%;
    text-align: left;
    box-shadow: 0px 1px 3px #888888
}

#top-review-heading{
    text-align: center;
    box-shadow: 0px 1px 3px #888888;
}

article[id^="review-container-"]{
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #C2C2C2;
}

div[id^="review-info-"]{
    width: 85%;
    margin: 0 auto;
}

div[id^="button-container-"]{
    margin: 1%;
    text-align: center;
}

.buttons-inline{
    display: inline;
    margin: 1% auto;
}

#create-review{
    border-radius: 2px;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 5px #888888;
}

#new-review-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

#review-title{
    width: 75%;
    height: 40px;
    border-radius: 2px;
    font-size: 18px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border: 1px solid #C2C2C2;
}

#review-title:-webkit-autofill::first-line {font-size: 18px}

#review-content{
    resize: none;
    width: 75%;
    height: 80px;
    /* border: solid grey 1px; */
    border-radius: 2px;
    box-shadow: 1px 1px 3px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border: 1px solid #C2C2C2;
    padding: 10px;
}

#review-title, #review-content{
    margin: 0 auto;
}

button, input[type="submit"]{
    -webkit-appearance:none;
}

#review-submit{
    width: 20%;
    padding: 10px 0;
    margin: 0 auto;
    background-color: #F25F5C;
    color: white;
    border: 0;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #EBEBEB;
    cursor: pointer;
}

#review-submit:hover{
    background-color: #D62828;
    transition-duration: 0.4s;
}

.new-review-flex{
    margin: 1%;
    display: flex;
    flex-direction: column;
}

.google-map{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    border-bottom: solid grey 1px;
}

.google-map iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (min-width: 546px){ /* Desktop: When the screen is wider than 546px */

    #store-article{
        width: 100%;
        height: 628px;
    }

    #store-info-container{
        width: 100%;
        height: 100%;
    }

    .google-map{
        width: 100%;
        height: 100%;
    }

    #store-description{
        overflow: scroll;
    }

    #create-review{
        height: 50%;
        width: 100%;
        margin: 0 0 1% 0;
    }

    #store-reviews{
        width: 100%;
        height: 100%;
        margin-top: 1%;
        margin-right: 2%;
    }

}

@media screen and (max-width: 545px){ /* Mobile: When the screen is thinner than 545px */ 

    #store-info-container{
        width: 95%;
        height: 95%;
        margin: 1% auto;
    }
    #store-article{
        flex-direction: column;
        height: 100%;
    }    

    .google-map{
        width: 100%;
        height: 50%;
    }

    #store-description{
        width: 100%;
    }

    #create-review{
        height: 50%;
        width: 100%;
        margin: 0 auto;
    }

    #store-reviews{
        margin: 0 auto;
        width: 95%;
        height: 100%;
    }

    #store-reviews-container{
        margin-bottom: 10%;
    }

    #review-submit{
        width: 20%;
    }

}