html {
    font-family: 'Vollkorn', serif;
    color: rgb(54, 54, 54);
    background-color: rgb(245, 245, 245);
}

header.container { 
    position: fixed;
    float: left;
    width: 1440;
    height: 60px;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    z-index: 1;
}

h1#intro {
    position: fixed;
    font-size: 27;
    top: -4.8px;
    left: 90px;
    color: rgb(248, 248, 248);
    z-index: 2;
}