html {
    font-family: 'Vollkorn', serif, Arial;
    background-color: white;
}


/* div#logo-container { 
    
} */

/* main {
    width: 600px;
    margin: 0 auto;
    border: 5px solid black;
} */

/* article {
    padding: 10px;
} */