html {
    font-family: 'Vollkorn', serif;
    color: rgb(54, 54, 54);
}


h1#intro {
    position: absolute;
    top: 0px;
    left: 30px;
}

h1#signup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
