html {
    font-family: 'Vollkorn', serif;
    color: rgb(54, 54, 54);
    background-color: rgb(245, 245, 245);
}


h1#intro {
    position: absolute;
    top: 0px;
    left: 30px;
}

h1#signup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
}

input[type=text] {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 4px;
}

input[type=email] {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 4px;
}

input[type=password] {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 4px;
}

input[type=submit] {
    background-color: white;
    color: black;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 4px;
}