<main>
    <h2>Are you sure?</h2>
    <form action="/user/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Permanently Delete Account">
    </form>
</main>