<DOCTYPE! html>
<html>
<head>
<title>Hole in the Wall</title>
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/style.css">
<h1 id="intro">Hole in the Wall</h1>
</head>

<body>

<h1 id="signup">Sign up to review stores considered to be a "Hole in the wall." 
    <form action="/hole-in-the-wall" method="POST">
        <input id="name" type="text" name="name" placeholder="Name:">
        <input id="username" type="text" name="username" placeholder="Username:">
        <input id="email" type="email" name="email" placeholder="Email:">
        <input id="password" type="password" name="password" placeholder="Password:">
        <input id="sign up" type="submit" value="Sign Up">
    </form>
<p id="login">Have an account? <a href="/login">Log In</a> </p> 
</h1>

</body>
</html>
