<DOCTYPE! html>
<html>
<head>
<link rel="stylesheet" href="stylesheets/style.css">
<h1>Welcome to Hole in the Wall!</h1>
</head>
<body>
<h1>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</h1>
<h2>Hole in the Wall allows you to review stores considered to be a "Hole in the wall."</h2>
</body>
</html>
