<div>
    <h1>Hole in the Wall</h1>
</div>

<main>
    <h2>Log in to review stores considered to be a "Hole in the Wall."</h2>
    <article>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username:">
            <input type="password" name="password" placeholder="Password:">
            <input type="submit" value="Log In">
        </form>
        <h2>Dont have an account? <a href="/hole-in-the-wall">Sign up</a></h2>
    </article>
</main>