<head>
<title>Hole in the Wall</title>
<link rel="stylesheet" href="stylesheets/users/login.css">
</head>

<body>

<header class="banner">
    <h1>Hole in the Wall</h1>
</header>

<main>
    <article>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username:">
            <input type="password" name="password" placeholder="Password:">
            <input type="submit" value="Log In">
            <p>Dont have an account? <a href="/hole-in-the-wall">Sign up</a></p>
        </form>
    </article>
</main>

</body>
