<head>
<title>Hole in the Wall</title>
<link rel="stylesheet" href="stylesheets/users/login.css">
</head>

<body>
<div class="container"></div>
<h1 id="intro">Hole in the Wall</h1>
<h1 id="form">
        <form action="/login" method="POST">
            <h1 class="username">Username: <input id="username" type="text" name="username" placeholder="Username:"></h1>
            <h1 class="password">Password: <input id="password" type="password" name="password" placeholder="Password:"></h1>
            <input class="button" type="submit" value="Log In">
        </form>
<p id="signup">Dont have an account? <a href="/hole-in-the-wall">Sign up</a></p>
</h1>
</body>
