<div id="ls-logo-container">
    <h1 id="ls-logo">Hole in the Wall</h1>
</div>

<main>
    <article>
        <h2 id="ls-greeting">Sign up to review stores considered to be a "Hole in the Wall."</h2>
        <div id="ls-form-wrap">
            <div id="ls-flex-container">
                <form action="/users" method="POST">

                    <div>
                        <label for="name">Name:</label>
                        <input class="ls-input-box" id="name" type="text" name="user[name]" size="35" placeholder="Bob Smith">
                    </div>

                    <div>
                        <label for="username">Username:</label>
                        <input class="ls-input-box" id="username" type="text" name="user[username]" size="35" placeholder="BatmanBeyond">
                    </div>

                    <div>
                        <label for="email">Email:</label>
                        <input class="ls-input-box" id="email" type="email" name="user[email]" size="35" placeholder="name@email.com">
                    </div>

                    <div>
                        <label for="password">Password:</label>
                        <input class="ls-input-box" id="password" type="password" name="user[password]" size="35" placeholder="Password">
                    </div>

                    <div>
                        <input id="ls-submit" type="submit" value="Sign Up">
                    </div>
                </form>
                <div>
                    <h3 id="ls-login">Have an account? <a href="/login">Log In</a></h3> 
                </div>
            </div>
        </div>
    </article>
</main>