<DOCTYPE! html>
<html>
<head>
<title>Home</title>
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/users/home.css">
<div class="container"></div>
<h1 id="intro">Hole in the Wall
<h2 id="profile">Profile<a class="button" href="/account">Account</a></h2>
</h1>
</head>

<body>
<div>
<h1><a href="/my-reviews">My Reviews</a></h1>
<h1><a href="/my-reviews/form">Create a new Review</a></h1>
<h1><a href="/logout">Log out</a></h1>
</div>

</body>
</html>
