<main>
    <article>
        <h2><%=@find_user.username%></h2>
        <h3>Reviews: <%=@find_user.reviews.count%></h3>

        <ol>
            <%@find_user.reviews.each do |review|%> 
                <li><%=review.store.name%>: <%=review.title%></li>
            <%end%>
        </ol>
    </article>
</main>