/*

COLOR PALETTE
https://coolors.co/50514f-f25f5c-ffe066-247ba0-70c1b3
https://coolors.co/003049-d62828-f77f00-fcbf49-eae2b7

#50514F ~> Davys Grey
#F25F5C ~> Fire Opal
#FFE066 ~> Naples Yellow
#247BA0 ~> Celadon Blue
#70C1B3 ~> Green Sheen


#003049 ~> Prussian Blue 
#D62828 ~> Maximum Red 
#F77F00 ~> Orange
#FCBF49 ~> Maximum Yellow Red
#EAE2B7 ~> Lemon Meringue

*/

html {
    font-family: 'Vollkorn', serif, Arial;
    background-color: white;
    box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eae2b7;
    height: 728px;
}

button{
    cursor: pointer;
}

#banner { 
    background-color: #003049;
    overflow: hidden;
    border: solid black 3px;
    border-radius: 0 0 10px 10px;
    text-shadow: 1px 1px 1px black;
}

#banner a{
    text-decoration: none;
}

a {
    color: #F25F5C;
}

a:hover{
    color: firebrick;
    transition-duration: 0.4s;
}

@media screen and (max-width: 320px){ /* Mobile: When the screen is thinner than 320px */ 
    #banner-flex-container{
        color: #e76f62;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        text-align: center;
    }

    #banner-flex-container li{
        list-style: none;
        flex: 1 0 50%;
        margin-bottom: 1%;
        padding: 3%;
        border: solid black 2px;
    } 
}

@media screen and (min-width: 321px){ /* Desktop: When the screen is wider than 321px */ 

    #banner-flex-container{
        color: #e76f62;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    #banner-flex-container li{
        white-space: nowrap;
        padding: 10px;
    }
    
    #banner-logo{
        font-size: 32px;
        flex: 0 1 20%;
    }
    
    #banner-logo, .banner-left, .banner-right{
        list-style: none;
    }
    
    .banner-left{
        font-size: 28px;
    }
    
    .banner-right{
        font-size: 28px;
    }
    
    #banner-right-push{
        margin: auto;
    }
}