/*

COLOR PALETTE
https://coolors.co/50514f-f25f5c-ffe066-247ba0-70c1b3
https://coolors.co/003049-d62828-f77f00-fcbf49-eae2b7

#50514F ~> Davys Grey
#F25F5C ~> Fire Opal
#FFE066 ~> Naples Yellow
#247BA0 ~> Celadon Blue
#70C1B3 ~> Green Sheen


#003049 ~> Prussian Blue 
#D62828 ~> Maximum Red 
#F77F00 ~> Orange
#FCBF49 ~> Maximum Yellow Red
#EAE2B7 ~> Lemon Meringue

*/

html {
    font-family: 'Vollkorn', serif, Arial;
    background-color: white;
    box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0 0;
    padding: 0;
    background-color: #eae2b7;
    height: 728px;
}

#banner { 
    background-color: #003049;
    overflow: hidden;
    border: solid black 3px;
    border-radius: 0 0 10px 10px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    color: #F25F5C;
}

#ls-flex-container{
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 2px;
    background-color: #50514f;
}

form{
    background-color: #247BA0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: solid black 3px;
    padding-bottom: 10px;
}

article {
    text-align: center;
}

a {
    color: #F25F5C;
}

a:hover{
    color: firebrick;
    transition-duration: 0.4s;
}

input {
    margin-top: 10px;
    padding: 10px;
    border: solid black 2px;
    border-radius: 4px;
    width: 80%;
}

input:hover{
    background-color: rgb(255, 228, 217);
    transition-duration: 0.4s;
}

label{
    display: block;
    margin-top: 3%;
}

#ls-submit{
    background-color: #F25F5C;
    font-weight: bold;
}

#ls-submit:hover{
    background-color: rgb(214, 49, 49);
    transition-duration: 0.4s;
    cursor: pointer;
}

@media screen and (max-width: 320px) { /* Mobile: When the screen is thinner than 320px */ 

    body {
        height: 641px;
    }

    #ls-greeting{
        font-size: 18px;
        width: 95%;
        margin: 6% auto 0 auto;
    }

    #ls-greeting{
        font-size: 18px;
        width: 95%;
        margin: 4% auto 0 auto;
    }

    #ls-flex-container {
        width: 90%;
        height: 85%;
        margin: 10% auto;
    }

    #login-form, #signup-form{
        display: flex;
        flex-direction: column;
    }

    #ls-signup{
        margin: 6% auto;
        font-size: 16px;
    }

}

@media screen and (min-width: 321px) { /* Desktop: When the screen is wider than 321px */ 

    #ls-form-wrap {
        margin: 0 auto;
        width: 75%;
    }

    #signup-form-wrap{
        margin: 0 auto;
        width: 75%;
    }

    #signup-form{
        display: flex;
        flex-direction: column;
    }

    .signup-flex{
        flex: 1 1 20%;
    }

    input:-webkit-autofill::first-line {font-size: 24px}

    .ls-input-box{
        font-size: 24px;
    }

    #ls-submit{
        padding: 5% 0 5% 0;
    }

}