/* h1 form{
    position: relative;
    margin: 100px 0px 100px 82;
    width: 500px;
}

h1 form textarea#titlebox{
    position: relative;
    font-size: 15;
    width: 80%;
    height: 50px;
    padding: 13px 20px;
    margin: -20px 0px 20px 0px;
    box-sizing: border-box;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    resize: none;
}

h1 form textarea#contentbox{
    position: relative;
    font-size: 12;
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    margin: -20px 0px 20px 0px;
    box-sizing: border-box;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    resize: none;
}

h1 form input[type=submit]{
    font-size: 18px;
    padding: 10px;
    display: block;
    margin-top: 10px;
    margin: auto auto auto 0px;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    outline:none;
}

h1 form input[type=submit]:hover {
    background-color: rgb(255, 208, 208);
    transition-duration: 0.4s;
} */