h1#pagebanner{
    margin: 82px 334px auto 81px;
}

section {
    overflow-x: auto;
    text-align: center;
    width: 800px;
    height: 500px;
    margin: 40px auto 0px auto;
    border: solid 2px black;
    border-radius: 4px;
    background-color: white;
}

section h3.reviewlist a{
    font-size: 30;
    color: rgb(54, 54, 54);
    text-decoration: none;
}

section h3.reviewlist a:hover{
    color: rgb(255, 107, 107);
    transition-duration: 0.4s;
}