<header id="banner">
    <nav>
        <ul id="banner-flex-container">
            <li id="banner-logo"><a href="/">Hole in the Wall</a></li>
            <li class="banner-left"><a href="/users/1/accounts">Users</a></li>
            <li class="banner-left"><a href="/stores">Stores</a></li>
            <div id="banner-right-push"></div>
            <li class="banner-right"><a href="/users/<%=current_user.id%>">Account</a></li>
            <li class="banner-right"><a href="/logout">Log out</a></li>
        </ul>
    </nav>
</header>