div.info{
    width: fit-content;
    margin: 180px auto auto auto;
    padding: 30px;
    border: solid rgb(34, 34, 34);
    border-radius: 4px;
}

div.info h1{
    height: 80px;
    text-align: center;
    margin: -20px auto auto auto;
}
