main article{
    margin: 2% auto;
    width: 60%;
    height: 100%;
    overflow: auto;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    grid-auto-rows: 100%;
    border: solid rgb(197, 197, 197) 2px;
    margin-bottom: 1%;
    padding: 2% 2% 1% 2%;
}

.user-info{
    margin: 0 auto;
    text-align: center;
    width: 75%;
}