div.feed {
    overflow-x: auto;
    text-align: center;
    width: 800px;
    height: 600px;
    margin: 100px auto 0px auto;
    border: solid 2px black;
    border-radius: 4px;
    background-color: white;
}

div.feed h2{
    width: 80%;
    display: inline-block;
    font-size: 18;
    text-align: center;
}

div.feed a{
    font-size: 20;
    color: rgb(255, 107, 107);
    text-decoration-color: rgb(127, 219, 255);
}

div.feed a:hover{
    color: rgb(253, 72, 72);
    text-decoration-color: rgb(98, 211, 255);
    transition-duration: 0.4s;
}

div.feed p{
    width: 65%;
    display: inline-block;
    font-size: 18;
}


