h3#userid{
    position: relative;
    top: 60;
}

h3#usersreviews{
    position: relative;
    top: 40;
}

p#indexreviews{
    position: relative;
    top: 35;
}

div.feed h2{
    width: 30%;
    display: inline-block;
    font-size: 9;
    text-align: center;
    border: 2px black;
    border-radius: 4px;
}

