/* main.wrapper{
    width: fit-content;
    overflow-x: auto;
    margin: 180px auto auto auto;
    padding: 30px;
    border: solid rgb(34, 34, 34);
    border-radius: 4px;
    background-color: white;
} */
