/*
COLOR PALETTE
https://colours.neilorangepeel.com/category/red/
#8B0000 - darkred
#B22222 - firebrick
#FF0000 - red
#CD5C5C - indianred
#F08080 - lightcoral
#FA8072 - salmon
#E9967A - darksalmon
#FFA07A - lightsalmon
#DC143C - crimson
*/

html {
    font-family: 'Vollkorn', serif, Arial;
    background-color: white;
    box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#banner { 
    background-color: rgb(36, 36, 36);
    overflow: hidden;
}

a {
    color: salmon;
}

a:hover{
    color: firebrick;
    transition-duration: 0.4s;
}

