#form {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 28px;
    background-color: white;
}

form {
    margin-top: 30px
}

input {
    font-size: 18px;
    padding: 10px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 245, 245);
    outline:none;
}

input:hover {
    background-color: rgb(255, 208, 208);
    transition-duration: 0.4s;
}

input[type=text] {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 4px;
}

input[type=password] {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 4px;
}

::placeholder {
    color: rgb(150, 150, 150);
}

.username {
    font-size: 30;
}

.password {
    font-size: 30;
}

p#signup {
    font-size: 20;
    bottom: 0;
}

h2#signup a {
    color: rgb(104, 104, 104);
}

h2#signup a:hover {
    color: rgb(255, 107, 107);
    text-decoration: underline;
    transition-duration: 0.4s;
}

input.button{
    margin-top: 15px;
    background-color: white;
    border: 2px solid rgb(82, 82, 82);
    border-radius: 4px;
}

input.button:hover {
    background-color: rgb(255, 123, 123);
    border: 2px solid rgb(82, 82, 82);
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}