/*-----------Home----------------*/

body{
    background-color: white;
    height: 726px;
}

#home-main{
    height: 578px;
    overflow: scroll;
}

@media screen and (max-width: 320px){ /* Mobile: When the screen is thinner than 320px */ 
    #home-article{
        margin: 0 auto;
        width: 100%;
        height: 80%;
    }
    
    #home-grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 50% 50%;
        grid-auto-rows: 100%;
        background-color: #50514F;
        border: solid white 2px;
        border-radius: 20px;
        margin-bottom: 1%;
        padding: 1% 2% 1% 2%;
    }

    .home-google-map{
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        border: solid black 2px;
    }
    
    .home-google-map iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .home-user-info{
        margin: 0 auto;
        text-align: center;
        width: 75%;
        line-height: 1.0;
    }

    #home-aside{
        visibility: hidden;
    }
}

@media screen and (min-width: 321px){ /* Desktop: When the screen is wider than 321px */ 
    #home-article{
        margin: 2% 40% 2% 1%;
        width: 60%;
        height: 80%;
    }
    
    #home-grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100%;
        grid-auto-rows: 100%;
        background-color: #50514F;
        border: solid black 2px;
        border-radius: 20px;
        margin-bottom: 1%;
        padding: 1% 2% 1% 2%;
    }
    
    .home-user-info{
        margin: 0 auto;
        text-align: center;
        width: 75%;
    }
    
    
    .home-google-map{
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        border: solid black 2px;
        border-radius: 20px;
    }
    
    .home-google-map iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    
    #home-aside{
        position: fixed;
        right: 2%;
        margin-top: 0;
        width: 35%;
        height: 76%;
        border: solid #50514F 2px;
        border-radius: 20px;
        background-color: #50514F;
    }
}

/*-----------Home----------------*/



/*-----------users#index----------------*/

/* main{
    background-color: rgb(252, 245, 235);
    padding: 1%;
}

#users-grid-container{
    display: grid;
    grid-template-columns: repeat(5, 21%);
    grid-template-rows: repeat(4, 26%);
    gap: 1%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-grid-item{
    font-size: 22px;
    background-color: rgb(36, 36, 36);
    padding: 10%;
    border: solid red 2px;
}

#users-flex-container{
    display: flex;
    justify-content: space-evenly;
} */

/* .user-flex-item{
    flex: 1 1 20%;
} */

/* .user-flex-item a {
    font-size: 28px;
    color: black;
}

.user-flex-item, .user-grid-item{
    list-style: none;
}

footer{
    width: 100%;
}

#bottom{
    padding: 2%;
    background-color: darkgray;
} */

/*-----------users#index----------------*/