/*-----------Home----------------*/

#home-main{
    height: 600px;
    width: 100%;
    margin-top: 3%;
}

@media screen and (min-width: 321px){ /* Desktop: When the screen is wider than 321px */ 
    #home-article{
        margin: 1% 1%;
        width: 60%;
        height: 576px;
        overflow: scroll;
        border-radius: 2px;
    }
    
    .home-flex-container{
        display: flex;
        flex-direction: column;
    }

    .inner-flex{
        display: flex;
        border-radius: 2px;
        margin-bottom: 1%;
        background-color: white;
        height: 284px;
    }

    .google-flex{
        flex: 1 1 40%;
        margin: 0% 1% 1% 1%;
    }

    .user-info-flex{
        flex: 1 1 60%;
        margin: 0% 1% 1% 1%;
        text-align: center;
        background-color: white;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #EBEBEB;
        border: 1px solid #C2C2C2;
    }
    
    .home-user-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 1%;
    } 

    .home-user-info  a:hover{
        color: #d62828;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .home-google-map{
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #EBEBEB;
        -moz-box-shadow: 1px 1px 4px #EBEBEB;
        -webkit-box-shadow: 1px 1px 4px #EBEBEB;
        border: 1px solid #C2C2C2;
    }
    
    .home-google-map iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    
    #home-aside{
        position: fixed;
        right: 2%;
        margin-top: 0;
        width: 35%;
        height: 78%;
        background-color: white;
        overflow: hidden;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #EBEBEB;
        -moz-box-shadow: 1px 1px 4px #EBEBEB;
        -webkit-box-shadow: 1px 1px 4px #EBEBEB;
        border: 1px solid #C2C2C2;
    }
}


@media screen and (max-width: 320px){ /* Mobile: When the screen is thinner than 320px */ 
    #home-article{
        margin: 0 auto;
        width: 100%;
        height: 80%;
    }
    
    .home-grid-container{
        display: flex;
    }

    .home-google-map{
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        border: solid black 2px;
    }
    
    .home-google-map iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    /* #home-aside{
        visibility: hidden;
    } */
}
/*-----------Home----------------*/



/*-----------users#index----------------*/

/* main{
    background-color: rgb(252, 245, 235);
    padding: 1%;
}

#users-grid-container{
    display: grid;
    grid-template-columns: repeat(5, 21%);
    grid-template-rows: repeat(4, 26%);
    gap: 1%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-grid-item{
    font-size: 22px;
    background-color: rgb(36, 36, 36);
    padding: 10%;
    border: solid red 2px;
}

#users-flex-container{
    display: flex;
    justify-content: space-evenly;
} */

/* .user-flex-item{
    flex: 1 1 20%;
} */

/* .user-flex-item a {
    font-size: 28px;
    color: black;
}

.user-flex-item, .user-grid-item{
    list-style: none;
}

footer{
    width: 100%;
}

#bottom{
    padding: 2%;
    background-color: darkgray;
} */

/*-----------users#index----------------*/