/*-----------Home----------------*/

#home-main{
    height: 600px;
    width: 100%;
    margin-top: 1%;
}

.home-flex-container > h2{
    text-align: center;
}

@media screen and (min-width: 546px){ /* Desktop: When the screen is wider than 546px */ 
    #home-article{
        margin: 1% 1%;
        width: 60%;
        height: 626px;
        overflow: scroll;
        border-radius: 2px;
    }
    
    .home-flex-container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .inner-flex{
        display: flex;
        border-radius: 2px;
        margin-bottom: 1%;
        background-color: white;
        height: 284px;
    }

    .google-flex{
        flex: 1 1 40%;
        margin: 0% 1% 1% 1%;
    }

    .user-info-flex{
        flex: 1 1 60%;
        margin: 0% 1% 1% 1%;
        text-align: center;
        background-color: white;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #EBEBEB;
        border: 1px solid #C2C2C2;
    }
    
    .home-user-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 1%;
        color: black;
    } 

    .home-user-info a{
        color: black;
    }

    .home-user-info a:hover{
        color: #d62828;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .home-google-map{
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #EBEBEB;
        border: 1px solid #C2C2C2;
    }
    
    .home-google-map iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    
    #home-aside{
        position: fixed;
        right: 2%;
        margin-top: 0;
        width: 35%;
        height: 87%;
        background-color: white;
        overflow: hidden;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #EBEBEB;
        border: 1px solid #C2C2C2;
    }
}


@media screen and (max-width: 545px){ /* Mobile: When the screen is thinner than 545px */ 
    #home-article{
        margin: 0 auto;
        width: 100%;
        height: 80%;
        text-align: center;
    }
    
    .home-flex-container{
        display: flex;
        flex-direction: column;
    }

    .home-google-map{
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        border: 1px solid #C2C2C2;
    }
    
    .home-google-map iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    #home-aside{
        display: none;
    }
}
/*-----------Home----------------*/