main{
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

#user-info{
    display: flex;
    width: 100%;
    height: 30%;
    border: solid black 2px;
    border-radius: 10px;
    margin: 1%;
}

.user-flex{
    flex: 1 1 25%;
}

#timestamp{
    flex: 1 1 25%;
}

#account-container{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 10px;
    margin: 1%;
    height: 98%;
}

.account-button{
    flex: 0 1 50%;
}

#user-data{
    height: 70%;
    width: 100%;
    display: flex;
    margin: 1%;
}

#user-reviews-list{
    text-align: center;
    flex: 1 1 50%;
    border: solid black 2px;
    border-radius: 10px;
    overflow: scroll;
}

#user-favorites-list{
    text-align: center;
    flex: 1 1 50%;
    border: solid black 2px;
    border-radius: 10px;
    overflow: scroll;
}

#user-favorites-container, #user-reviews-container{
    width: 70%;
    margin: 0 auto;
}