/* section{
    overflow-x: auto;
    text-align: center;
    width: 800px;
    height: 570px;
    margin: 100px auto 0px auto;
    padding: 10px;
    border: solid 2px black;
    border-radius: 4px;
    background-color: white;
}


h1#users a{
    font-size: 40;
    color: rgb(44, 44, 44);
    text-decoration: none;
}

h1#users a:hover{
    color: rgb(255, 107, 107);
    transition-duration: 0.4s;
} */
