<head>
<link rel="stylesheet" href="/stylesheets/reviews/edit.css">
</head>

<body>
    <title>Edit</title>

<h1>
    <form action="/my-reviews/<%= @user_review.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <h3>New Title: </h3>
        <textarea id="titlebox" rows="1" cols="50" placeholder="Title:" <input type="text" name="review[title]"><%=@user_review.title%></textarea>
        <p>New Content: </p>
        <textarea id="contentbox" rows="4" cols="50" placeholder="Content:" <input type="text" name="review[content]"><%=@user_review.content%></textarea>
        <input type="submit" value="submit">
    </form>
</h1>

</body>


