<DOCTYPE! html>
<html>
<head>
<h1>Enter a new store review:</h1>
<form action="/my-reviews" method="POST">
<input type="title" name="title" placeholder="Title:">
<br>
<br>
<textarea rows="4" cols="50" placeholder="Content:" <input type="title" name="content"></textarea>
<input type="submit" value="Submit">
</form>
</head>
<body>
</body>
</html>
