<DOCTYPE! html>
<html>
<head>
<h1>Enter a new store review:</h1>

        <form action="/my-reviews" method="POST">
        <textarea rows="1" cols="50" placeholder="Title:" <input type="text" name="review[title]"></textarea>
<br>
<br>
        <textarea rows="4" cols="50" placeholder="Content:" <input type="text" name="review[content]"></textarea>
        <input type="submit" value="Submit">
    </form>

</head>
<body>
</body>
</html>
