<head>
<title>Reviews</title>
<link rel="stylesheet" href="stylesheets/loggedin_banner.css">
<link rel="stylesheet" href="stylesheets/reviews/my-reviews.css">
<h1 id="pagebanner">Here are all your reviews!</h1>

<h3 class="reviewlist"><% @reviews.each.with_index(1) do |review, index| %>
    <a href="/my-reviews/<%=review.id%>"><%=index%>. <%= review.title %><br></a>
    <% end %>
</h3>
</head>
