<header>
    <h2>Here are all your reviews!</h2>
</header>

<main>
    <article>    
        <ol>
            <% @reviews.each do |review| %>
                <li><a href="/my-reviews/<%=review.id%>"><%= review.title %></a></li>
            <% end %>
        </ol>
    </article>
</main>