<DOCTYPE! html>
<html>
<head>
<title>We have encountered an issue.</title>
</head>
<body>
<h1>Please <a href="/hole-in-the-wall/login">Log In</a> or <a href="/hole-in-the-wall/signup">Sign Up</a> to continue. </h1>
</body>
</html>
