<DOCTYPE! html>
<html>
<head>
<title>Hole in the Wall</title>
</head>
<body>
<h1><a href="/hole-in-the-wall/account">Account</a></h1>
<h1><a href="/hole-in-the-wall/logout">Log out</a></h1>
</body>
</html>
