<DOCTYPE! html>
<html>
<head>
<h1>Hole in the Wall :)</h1>
</head>
<body>
<h1><a href="/account">Account</a></h1>
<h1><a href="/my-reviews">My Reviews</a></h1>
<h1><a href="/review-form">Create a new Review</a></h1>
<h1><a href="/logout">Log out</a></h1>
</body>
</html>
