<!DOCTYPE html>
<html lang="en">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet"> <!-- Font -->

    <% if logged_in? %>
        <link rel="stylesheet" href="stylesheets/loggedin_banner.css" type="text/css">
    <% else %>
        <link rel="stylesheet" href="stylesheets/loggedout_banner.css" type="text/css">
    <% end %>

</head>

<body>

    <% if logged_in? %>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Hole in the Wall</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/stores">Stores</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/my-reviews">My Reviews</a></li>
                <li><a href="/my-stores">Favorites</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </nav>
    </header>
    <% end %>

    <%= yield %>

</body>

</html>