<!DOCTYPE html>
<html lang="en">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet"> <!-- Font -->
<!-- https://stackoverflow.com/questions/24153013/stylesheet-not-applying-to-sinatra-erb-views#answer-24153145 -->
<!-- Your stylesheets will not load with dynamic pages unless your href has a "/" forward slash at the front of the url -->
<link rel="stylesheet" href="<%=@banner_filepath%>" type="text/css">
<link rel="stylesheet" href="<%=@css_filepath%>" type="text/css">

</head>

<body>

    <% if logged_in? %>
        <header role="banner" id="banner">
            <nav>
                <ul id="flex-container">
                    <li id="logo"><a href="/home">Hole in the Wall</a></li>
                    <li class="left"><a href="/users/index/1">Users</a></li>
                    <li class="left"><a href="/stores">Stores</a></li>
                    <div id="right-push"></div>
                    <li class="right"><a href="/users/<%=current_user.id%>">Account</a></li>
                    <li class="right"><a href="/my-reviews">My Reviews</a></li>
                    <li class="right"><a href="/favorites">Favorites</a></li>
                    <li class="right"><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </header>
    <% end %>

    <%= yield %>

</body>

</html>