<!DOCTYPE html>
<html lang="en">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet"> <!-- Font -->

    <% if logged_in? %>
        <link rel="stylesheet" href="stylesheets/loggedin_banner.css" type="text/css">
    <% else %>
        <link rel="stylesheet" href="stylesheets/loggedout_banner.css" type="text/css">
    <% end %>

</head>

<body>

    <% if logged_in? %>

    <header>
        <nav>
            <ul>
                <li><h1><a href="/home">Hole in the Wall</a></h1></li>
                <li><h2><a href="/users">Users</a></h2></li>
                <li><h2><a href="/stores">Stores</a></h2></li>
                <li><p><a href="/account">Account</a></p></li>
                <li><p><a href="/my-reviews">My Reviews</a></p></li>
                <li><p><a href="/my-stores">My Stores</a></p></li>
                <li><p><a href="/logout">Log out</a></p></li>
            </ul>
        </nav>
    </header>

        <% else %>
            <header>
                <h1>Hole in the Wall</h1>
            </header>
        <% end %>

    <%= yield %>

</body>

</html>