<!DOCTYPE html>
<html lang="en">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet"> <!-- Font -->

    <% if logged_in? %>
        <link rel="stylesheet" href="stylesheets/loggedin_banner.css" type="text/css">
    <% else %>
        <link rel="stylesheet" href="stylesheets/loggedout_banner.css" type="text/css">
    <% end %>

</head>

<body>

    <% if logged_in? %>

    <div class="container"></div>
                <h1 id="intro"><a href="/home">Hole in the Wall</a></h1>
                <h3 id="allstores"><a href="/stores">Stores</a></h3>
                <h3 class="allusers"><a href="/users">Users</a></h3>

            <div class="dropdown">
                <button class="dropbtn">Profile</button>
                <div class="dropdown-content">
                    <a href="/account">Account</a>
                    <a href="/my-reviews">My Reviews</a>
                    <a href="/my-stores">My Stores</a>
                    <a href="/logout">Log out</a>
                </div>
            </div>

        <% else %>

            <header class="container"></header>

        <% end %>

    <%= yield %>

</body>

</html>