<!DOCTYPE html>
<html lang="en">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet"> <!-- Font -->

    <% if logged_in? %>
        <link rel="stylesheet" href="stylesheets/loggedin_banner.css" type="text/css">
    <% else %>
        <link rel="stylesheet" href="stylesheets/loggedout.css" type="text/css">
    <% end %>

</head>

<body>

    <% if logged_in? %>
        <header id="logo-container">
            <h1 id="logo"><a href="/home">Hole in the Wall</a></h1>
        </header>
            <nav>
                <ul>
                    <li><a href="/users/collection/1">Users</a></li>
                    <li><a href="/stores">Stores</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/my-reviews">My Reviews</a></li>
                    <li><a href="/my-stores">Favorites</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
    <% end %>

    <%= yield %>

</body>

</html>