<head>
<title>Hole in the Wall</title>
<link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
<%= yield %>
<div class="container"></div>
<h1 id="intro">Hole in the Wall</h1>
</head>
<body>
<%= yield %>
</body>
