<DOCTYPE! html>
<html>
<head>
    <title>Login:</title>
        <form action="/hole-in-the-wall/login" method="POST">
            <h1>Username: <input id="username" type="text" name="username"></h1>
            <h1>Password: <input id="password" type="text" name="password"></h1>
            <input type="submit" value="Log in">
        </form>
</head>
<body>
    <h2>Don't have an account? Sign up here: <a href="/hole-in-the-wall/signup">Sign up</a></h1>
</body>
</html>
