<DOCTYPE! html>
<html>
<head>
<title>Login:</title>
    <form action="/hole-in-the-wall/signup" method="POST">
        <input type="text" name="user[name]" placeholder="Name:">
        <input type="text" name="user[username]" placeholder="Username:">
        <input type="email" name="user[email]" placeholder="Email:">
        <input type="password" name="user[password]" placeholder="Password:">
        <input type="submit" value="Sign Up">
    </form>
</head>
<body>
<h1>Already have an account? Log in here: <a href="/hole-in-the-wall/login">Log In</a></h1>
</body>
</html>

